.playgroundDiv {
    margin-top: 10vh;
    display: flex;
    justify-content: flex-end;
}

.container {
    position: relative;
    border: 1px solid black;
    background-color:#212228;
    background-image: linear-gradient(#292a30 .1em, transparent .1em),
    linear-gradient(90deg, #292a30 .1em, transparent .1em);
    background-size: 4em 4em;
    height: 650px;
    width: 1535px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 14vh;
    margin-right: 80px;
}

.fileui {
    position: relative;
    display: flex;
    height: 650px;
    width: 200px;
    background-color: white;
    top: 24vh;
    left: 80px;
    overflow: hidden;
}

.toolbar {
    position: absolute;
    display: flex;
    background-color: white;
    height: 100px;
    width: 1535px;
    top: 11vh;
    left: 300px;
}

.box {
    position: relative;
    background-color: hotpink;
    height: 60px;
    width: 60px;
    cursor: pointer;
}